nav {
  border: 1px solid green;
  width: 100%;
  flex: 0 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

